.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding-bottom: 2rem;
}

@media (max-width: 768px) {
  .wrapper {
    padding-bottom: 4rem;
  }
}

